<section class="product-list">
  <button class="btn btn-info" ng-click="addBox()">Add Client Ticket</button>

  <!-- products list -->
  <ul class="list-group clearfix">
    <li
      class="product list-group-item"
      ng-repeat="(index, box) in boxes">

        <div
          class="panel panel-primary"
          ui-on-Drop="onDrop($event, $data, box.consums)">

          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Ticket {{index + 1}}</h3>
            <span class="remove glyphicon glyphicon-remove-circle pull-right" ng-click="remove(index)"></span>
          </div>

          <div class="panel-body">
            <p>Seleccionar Cliente: </p>
            <select
              class="form-control"
              ng-model="box.client"
              ng-options="client.name for client in clients">
            </select>
            <p>Consume List:</p>
            <ul
              class="consums list-group">
              <li
                class="product list-group-item"
                ui-draggable="true"
                drag="consum"
                on-drop-success="onDropSuccess($event, $index, box.consums)"
                ng-repeat="consum in box.consums">
                {{consum.name}}
              </li>
            </ul>
          </div>
        </div>
    </li>
  </ul>

</section>
