/** Main App rehusable styles **/

body {
  padding-top: 0 !important;
}

.pretty-font {
  font-family: "Great Vibes";

  &h1 {
    font-size: 42px;
  }

  span {
    font-size: 15px;
    top: -13px;
    position: relative;
  }
}

.jumbotron {
  background-color: #E3B385;
}

.container-fluid {
  overflow: hidden;
}
