.salon {
  .table {

  }

  .thumbnail {
    background-color: #FDF6DA;

    .caption {
      .badge {
        position: absolute;
        top: 7px;
        right: 20px;
        font-size: 25px;
        border-radius: 50%;
        background-color: #DDA05C;
      }
    }
  }

  .toggle {
    .ng-enter {
      -webkit-animation: enter 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
      animation: enter 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
      display: block;
      position: relative;
    }
    @-webkit-keyframes enter {
      from {
        opacity: 0;
        left: -50px;
     }
      75% {
        left: 15px;
      }
      to {
        opacity: 1;
        left: 0px;
      }
    }
    @keyframes enter {
      from {
        opacity: 0;
        left: -50px;
      }
      75% {
        left: 15px;
      }
      to {
        opacity: 1;
        left: 0px;
      }
    }

    .ng-leave {
      -webkit-animation: leave 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
      animation: leave 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
      display: block;
      position: relative;
    }
    @-webkit-keyframes leave {
      to {
        opacity: 0;
        left: 0;
        bottom: 0;
      }
      25% {
        left: 25px;
        bottom: 5px;
      }
      from {
        opacity: 1;
        left: 0px;
      }
    }
    @keyframes leave {
      to {
        opacity: 0;
        left: 0;
        bottom: 0;
      }
      25% {
        left: 25px;
        bottom: 5px;
      }
      from {
        opacity: 1;
        left: 0px;
      }
    }
  }

}
