.view-animate {
  padding:10px;
  display: inline;

  &.ng-leave {
    position: relative;
    bottom: 10px;
  }

  &.ng-enter {
    -webkit-transition: 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -moz-transition: 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -ms-transition: 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    -o-transition: 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;
    transition: 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) all;

    display: inline;
    width: 100%;

    position: relative;
    bottom: 10px;
    // left: 0;
    // right: 0;
    // bottom: 0;
  }

  &.ng-enter {
      left: 100%;
  }
  &.ng-enter.ng-enter-active {
      left: 0;
  }

  &.ng-leave {
      left: 0;
  }
  &.ng-leave.ng-leave-active {
      left: -100%;
  }
}
