<div class="text-center">
  <h1 class="pretty-font">
    Hotel Libertador
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
    <span class="glyphicon glyphicon-star-empty"></span>
  </h1>
</div>
<div class="jumbotron">
  <p class="lead">
    <img src="images/logo-footer.png" alt="Libertador Hotel"><br>
  </p>
    <p>
    <a class="btn btn-lg btn-success" ng-href="#salon">Comenzar!</a>
  </p>
</div>
