<section class="table">
  <h1 class="pretty-font text-center">Mesa {{tableNber}} - Pagos</h1>

  <div class="panel panel-default clearfix">
    <div class="panel-heading">
      <h3 class="panel-title">Pedido</h3>
    </div>
    <div class="panel-body clearfix">

      <pay-list class="col-md-6 col-sm-6" table-consums="tableConsums"></pay-list>
      <client-box class="col-md-6 col-sm-6" table-consums="tableConsums"></client-box>

      <div class="total-panel panel panel-default">
        <h1 class="panel-body">
          <div class="label label-default">Total: {{total | currency : symbol : fractionSize}}</div>
          <button class="btn btn-success btn-block btn-lg" ng-click="submit()">OK</button>
        </h1>
      </div>

    </div>
  </div>
</section>
